<form class="create-post-form" (submit)="onSubmit($event)" ngNativeValidate>
	<div class="form-group">
		<label for="title">Title</label>
		<input id="title" type="text" name="title" required placeholder="Enter post title" [formControl]="post.title" />
	</div>

	<div class="form-group">
		<label for="preview-image">Preview image (400x200)</label>
		<input id="preview-image" type="file" name="preview-image" [required]='formType === "create"'
			placeholder="Choose a file..." accept="image/*" (change)="onFileSelected($event)" />
	</div>

	<div class="form-group">
		<label for="content">Content</label>
		<md-editor name="Content" class='markdown-editor' [(ngModel)]="post.content" [height]="'400px'" [mode]="mode"
			[options]="options" required>
			<slot custom-btns></slot>
		</md-editor>
	</div>

	<div class="form-group">
		<label for="category">Category</label>
		<select id="category" name="category" required [formControl]="post.category">
			<option value="tech">Tech</option>
			<option value="lifestyle">Lifestyle</option>
			<option value="education">Education</option>
			<option value="other" selected>Other</option>
		</select>
	</div>

	<button type="submit" class="submit-btn">{{ formType === 'edit' ? 'Save edits' : 'Create Post' }}</button>
</form>